<!DOCTYPE html>
<html>

<head>
    <title>Jusbid Booking Confimation Mail</title>
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
</head>

<body>
    <div style="max-width: 900px; margin: 15px auto; border: 1px solid #fff; font-family: 'Poppins', sans-serif;">
        <div style="padding: 20px 15px; text-align: center;border:1px solid #666">
            <img src="http://rudrohom.com:1337/images/email/logo.png" alt=""
                style="width:200px;height:100%;object-fit: contain;">
        </div>
        <div
            style="background-image: url('http://rudrohom.com:1337/images/email/main.jpg');height: 322px;background-position: center;background-size: cover;">
            <h3 style="font-size: 34px;color:#fc8230;text-align:center;padding: 136px 0px;margin: 0;background-color: rgba(0, 0, 0, 0.7);"> Booking Confirmed </h3>
        </div>
        <div style="background: #f9f9f9; padding: 30px 15px; color: #333; font-size: 14px;">
                    
            <p style="font-size: 16px;line-height: 24px;">
                Hotel - {{hotel_name}}, <br>

                Dear Hotel Manager, <br>

                Jusbid would like to reserve accommodation in your hotel,

                Arrival date will be on {{arrival_date}}.
                Departure date will be on {{departure_date}}.

                Thank you for your prompt attention to the above, kindly check bookings on hotelier portal,

                Kind Regards,
            </p>
            <p style="font-size: 16px;line-height: 24px;">Thank you,</p>
            <p style="font-size: 16px;line-height: 24px;">Team Jusbid.</p>
        </div>
    </div>
</body>

</html>