<!DOCTYPE html>
<html>

<head>
	<title>Jusbid Mail</title>
	<link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
</head>

<body style="">
	<div
		style="max-width: 800px; margin: 15px auto; border: 1px solid #fff; font-family: 'Poppins', sans-serif;border:1px solid #666">
		<div style="padding: 20px 15px; text-align: center;">
			<img src="https://jusbid.in:1337/images/logo_jusbid.png" alt=""
				style="width:200px;height:100%;object-fit: contain;">
		</div>
		<div style="text-align: center">
			<h2 class="wrap_content" style="padding: 0rem 2rem;">Welcome {{name}}, <br> your account has been created.
			</h2>
			<h4 class="wrap_content" style="padding: 0rem 2rem;">{{createdAt}}</h4>
			<button style="background-color: #25D366;
			color: #ffffff;
			border-radius: 10px;
			border: none;
			padding: 10px 40px;">Welcome to Jusbid Family</button>
		</div>
		<div style="margin:30px 0px;">
			<img style="width:100%"
				src="https://www.transindiaholidays.com/Areas/Blog/UploadImages/Id_5c1a0aa3-7794-410a-952f-17ad8dc95c2c.jpg">
		</div>
		<div style="background: #f9f9f9; padding: 30px 15px; color: #333; font-size: 14px;">
			<!-- <div>
				<p style="font-size: 16px;line-height: 24px;">
					{{name}},
				</p>
			</div> -->

			<!-- <p style="font-size: 16px;line-height: 24px;">
				Hotelier Welcome Heading
			</p> -->
			<p style="font-size: 16px;line-height: 24px;">
				Dear Travel Agent - {{name}}, <br><br>
				Greetings from JusBid<br>
				We are delighted to inform you that your onboarding process has completed successfully on our OTA
				platform www.jusbid.in. We are happy to have you as a valuable business partner in our organization and
				our team is eager to work with you. A Jusbid support executive will contact you soon to assist you at every step
				of the technical process and help you in case of any queries.<br><br>
				You can log into your JusBid account using the following steps:
			</p>
			<table style="width: 100%">
				<tr>
					<td width="100%">Visit - https://www.jusbid.in/</td>
				</tr>
				<tr>
					<td width="100%">Click on account login, enter your credentials given below, you can change your password inside profile section</td>
				</tr>
				<tr>
					<td width="100%">Now, you can check your customer list, booking, bidding and much more, if you face any issue while signing in, contact our support team</td>
				</tr>
				<tr>
					<td width="100%"></td>
				</tr>
				<tr>
					<td width="30%">Registered Email</td>
					<td width="70%">{{email}}</td>
				</tr>
				<!-- <tr>
					<td width="30%">User ID</td>
					<td width="70%">{{user}}</td>
				</tr> -->
				<tr>
					<td>Your Password</td>
					<td>{{password}}</td>
				</tr>
			</table>
			<!-- <p style="padding: 10px;text-align:center;">
				<a href="https://jusbid.in/admin/" target="_blank"
					style="background-color: #25D366;
					color: #ffffff;
					border-radius: 10px;
					border: none;
					padding: 10px 40px;">
					<span style="font-size: 14px; line-height: 16.8px;">Visit Hotelier Panel</span>
				</a>
			</p> -->
			<p style="font-size: 16px;line-height: 24px;">Thank you,</p>
			<p style="font-size: 16px;line-height: 24px;">Team JUsbid.</p>
		</div>
	</div>
</body>

</html>